body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


header{
    background-color: #C4C4C4;
    padding: 5px 0px 5px 0px;
}

header > nav{
    padding-right: 100px;
    padding-top: 30px;

}

header > nav > a{
    padding-right: 20px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial,
}

body > main#main1 > div{
    padding-top: 25px;
}



.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flex2{
    display: flex;
    justify-content:space-evenly
}

.flex3{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly
}

.flex4{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    margin: 5px;
    align-content: stretch;
    height: 100px;
    align-items: flex-end;
    text-align: center;
    width: 90px;
}


.flex5{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.flex6{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
}


.flex7{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    align-items: center
}


h2{
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}

h1{

    padding-left:20px;

}

p{
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    width: 400px;
}


main#main1{
    background-color: #F3F3F3
}

main#main1 > img{
    width: 250px;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 50%
}

main#main1 > h2{
    font-size: 1em;
}



main#main2{
    background-color: #FFFFFF;
    padding-top: 70px;
}

footer{
    background-color: #C4C4C4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: auto;
}

footer > a {
    color: #000000;
    background-color: #F3F3F3;
    border-radius: 10px;
    text-decoration-line: none;
    font-weight: bold;
    padding: 10px
}

footer > a > img{
    width: 30px;
    padding-right: 10px;
}